@import 'apps/site/src/styles/theme.scss';

.welcome {
  display: flex;
  justify-content: center;
  max-width: 80%;
  margin: $space-lg auto 0;
  padding: 42px $space-lg*0.8 $space-lg;
  border-radius: $border-radius;
  background-color: $white;
  
  h1, p {
    text-align: center;
  }

  h1 {
    font-size: $text-xl;
    margin-bottom: $space-lg;
  }
}
