@import 'apps/site/styles/variables.scss';

.wrapper {
  display: flex;
  flex-wrap: wrap;
  font-size: $text-sm;
  padding: $space-md 0;

  a {
    color: $gray-2;
    cursor: pointer;
    text-decoration: none;
    margin-right: $space-sm;
  }
  
  a:last-child {
    font-weight: bold;
  }
  
  a::after {
    content: '\203A';
    font-size: $text-lg;
    cursor: initial;
    padding-left: $space-sm;
  }
  
  a:last-child::after {
    content: '';
  }
}
