@import 'reset.scss';
@import 'theme.scss';

body {
  color: $gray;
  font-family: sans-serif;
}

.main {
  box-sizing: border-box;
  padding-bottom: $space-lg;
  background-color: $gray-3;
  min-height: calc(100vh - #{$toolbar-height});
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-gap: $space-md;
  grid-template-columns: repeat(12, 1fr);
}

.main-wrapper {
  grid-column: 1 / -1;
  padding-left: $space-sm;
  padding-right: $space-sm;
}

// Containers by breakpoint
@each $name, $width in $breakpoints {
  @media (min-width: $width) {
    .container { max-width: $width; }

    @if $name == 'sm' {
      .main-wrapper {
        grid-column: 2 / 12;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}
