@import 'apps/site/styles/variables.scss';

.toolbar {
  height: $toolbar-height;
  background-color: $yellow;
}

.wrapper {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  flex-shrink: 0;
  margin-right: $space-md;
}

@media (min-width: $md) {
  .logo {
    margin-right: $space-lg;
  }
}
