// Colors
$yellow: #FFE600;
$blue:   #3483FA;    
$white:  #FFFFFF;
$gray:   #333333;
$gray-1: #666666;
$gray-2: #999999;
$gray-3: #EEEEEE;

// Breakpoints
$sm:   640px;
$md:   768px;
$lg:   1024px;
$xl:   1280px;
$_2xl: 1536px;

// Font sizes
$text-xs:   12px;
$text-sm:   14px;
$text-base: 16px;
$text-lg:   18px;
$text-xl:   24px;
$text-2xl:  28px;
$text-3xl:  46px;

// Spacers
$space-sm: 10px;
$space-md: 16px;
$space-lg: 32px;

// Borders
$border-radius: 4px;

// Toolbar
$toolbar-height: 56px;
