@import 'apps/site/styles/variables.scss';

.welcome {
  display: flex;
  justify-content: center;
  max-width: 80%;
  margin: $space-lg auto 0;
  padding: 42px 40px $space-lg;
  border-radius: $border-radius;
  background-color: $white;
  
  * {
    text-align: center;
  }
}
