body {
  margin: 0;
}

.app {
  font-family: sans-serif;
}

.container {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(12, 1fr);
}

.toolbar {
  height: 56px;
  background-color: #FFE600;
}

.toolbar-wrapper {
  display: flex;
  align-items: center;
  grid-column: 2 / 12;
}

.app main {
  background-color: #EEEEEE;
  min-height: calc(100vh - 56px);
}

.main-wrapper {
  grid-column: 2 / 12;
}