.list {
  padding: 0 16px;
  border-radius: 4px;
  background-color: #FFFFFF;
}

.no_results {
  max-width: 80%;
  margin: 0 auto;
  padding: 42px 40px 32px;
  border-radius: 4px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;

  h3 {
    margin: 0;
    font-size: 24px;
    margin-bottom: 32px;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    font-size: 16px;
    color: #666666;
    margin-bottom: 10px;
  }
}

.detail {
  padding: 32px;
  border-radius: 4px;
  color: #333333;
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto 50px auto;
  grid-gap: 16px;
}

.image {
  grid-row: 1;
  grid-column: 1 / 8;
  justify-self: stretch;
  align-self: stretch;
}

.side_info {
  grid-column: 8 / 11;

  .status {
    font-size: 14px;
    margin-bottom: 16px;
  }

  h1 {
    font-size: 24px;
    margin: 0 0 32px;
  }

  .price {
    font-size: 46px;
    font-weight: 400;
    margin-bottom: 32px;
  }

  .purchase_button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #3483FA;
  }
}

.description {
  grid-row: 3;
  grid-column: 1 / 8;

  h2 {
    font-size: 28px;
    margin: 0 0 32px;
  }

  p {
    color: #666666;
    font-size: 16px;
    margin: 0 0 32px;
  }
}
