@import 'apps/site/styles/theme.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
  margin: $space-lg auto 0;
  padding: 42px $space-lg*0.8 $space-lg;
  border-radius: $border-radius;
  background-color: $white;

  .border-b {
    border-bottom: 1px solid $gray-2;
  }

  h1 {
    font-size: $text-2xl;
    padding: 0 $space-md;
    margin-bottom: $space-md;
  }

  p {
    text-align: center;
  }
}
